html {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    background: #333;
    color: white;
}

.big {
    font-size: 4rem;
    font-family: "Abril Fatface", cursive;
    text-decoration: overline;
    text-align: center;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

li {
    margin: 1rem;
}

#focusedCharacterPara {
    border-bottom: 1px solid white;
    /* border-radius: 4px; */
    padding: 1rem;
}
